nav {
    background-color: #000;
    display: flex;
    padding: 1rem;
    gap: 1.5rem;
    justify-content: center;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover{
    text-decoration: underline;
}