@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

nav {
    background-color: #fff;
    display: flex;
    padding: 1rem;
    gap: 1.5rem;
    justify-content: right;
    margin: 0 auto;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  border-bottom: 1px solid #0a0a0a;
  background-color: #fff;
}

.navbar-left .logo {
  height: 48px;
  width: auto;
  max-width: 100%;
  object-fit: contain;
}

.nav-center {
  display: flex;
  gap: 1.5rem;
}

.nav-center a {
  text-decoration: none;
  color: #000;
  font-family: "Bebas Neue", sans-serif;
  font-size: 22px;
}

.nav-center a:hover {
  text-decoration: underline;
}

.nav-right {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.buy-service {
  background-color: #000;
  color: #fff;
  padding: 8px 16px;
  border-radius: 9999px;
  font-weight: bold;
  text-decoration: none;
  display: inline-block;
  transition: background-color 0.3s ease;
}

.buy-service:hover {
  background-color: #333;
}

.cart-icon {
  height: 24px;
  cursor: pointer;
}
