@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.about-page {
    max-width: 1200px;
    margin: 8rem auto;
    padding: 0rem;
    line-height: 1.6;
}

.aboutBox {
    background-color: #192841;
    padding: 130px 40px;
    border-radius: 1rem;
}

.aboutBox h1 {
    font-family: "Bebas Neue", sans-serif;
    color: white;
    font-weight: 100;
}

.about-page h1 {
    font-size: 2rem;
    margin-bottom: 3rem;
}

.about-page h2 {
    margin-top: 1.5rem;
    font-size: 1.3rem;
    color: #444;
}

.about-page p {
  font-size: 1rem;
  color: #222;
}